# first go into jackett settings, set the URL Base to /jackett and restart the jackett container
# to enable password access, uncomment the two auth_basic lines

location /jackett {
#    auth_basic "Restricted";
#    auth_basic_user_file /config/nginx/.htpasswd;
    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_jackett jackett;
    proxy_pass http://$upstream_jackett:9117;
}
