# monitorr does not require a base url setting
# to enable password access, uncomment the two auth_basic lines

location /monitorr {
#    auth_basic "Restricted";
#    auth_basic_user_file /config/nginx/.htpasswd;
    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_monitorr monitorr;
    proxy_pass http://$upstream_monitorr:80;
}
