# make sure that your dns has a cname set for ombi and that your ombi container is not using a base url

server {
  listen 443 ssl;

	server_name ombi.*;

	include /config/nginx/ssl.conf;

	client_max_body_size 0;

	location / {
		include /config/nginx/proxy.conf;
		proxy_pass http://ombi:3579;	
	}
}
