# In order to use this location block you need to edit the default file one folder up and comment out the / location

# enable for organizr auth
#include /config/nginx/auth-confs/organizr.conf;

location / {
    # enable the next two lines for http auth
    #auth_basic "Restricted";
    #auth_basic_user_file /config/nginx/.htpasswd;

    # enable the next two lines for ldap auth, also customize and enable auth-confs/ldap.conf in the default conf
    #auth_request /auth;
    #error_page 401 =200 /login;

    # enable the next two lines for organizr auth, also enable auth-confs/organizr.conf in proxy-confs/organizr.subfolder.conf
    #auth_request /auth-*; # See auth-confs/organizr.conf for proper config
    #error_page 401 /?error=$status&return=$request_uri;

    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_organizr organizr;
    proxy_pass http://$upstream_organizr:80;
}

# enable for custom error pages
#error_page 400 403 404 405 408 500 502 503 504 /?error=$status;
