# In order to use this location block you need to edit the default file one folder up and comment out the / location

# Organizr doesn't work without a slash at the end, so redirect to /organizr/
location = /organizr {
    return 301 /organizr/;
}

location /organizr/ {
    resolver 127.0.0.11 valid=30s;
    proxy_pass http://organizr:80/;
    include /config/nginx/proxy.conf;
}

location ~ /auth-(admin|user) {
    # This is used for Organizr V1
    internal;
    resolver 127.0.0.11 valid=30s;
    proxy_pass http://organizr:80/auth.php?$1;
    proxy_set_header Content-Length "";
    include /config/nginx/proxy.conf;
}

location ~ /organizr/auth-([0-9]+) {
    internal;
    resolver 127.0.0.11 valid=30s;
    proxy_pass http://organizr:80/api/?v1/auth&group=$1;
    proxy_set_header Content-Length "";
    include /config/nginx/proxy.conf;
}

# Optional: Enable these if you want Organizr to handle error pages
#error_page 400 403 404 405 408 500 502 503 504 $scheme://$server_name/organizr/?error=$status;
#error_page 401 $scheme://$server_name/organizr/?error=$status&return=$request_uri;
