# make sure that your dns has a cname set for portainer
# to enable password access, uncomment the two auth_basic lines

server {
    listen 443 ssl;

    server_name portainer.*;

    include /config/nginx/ssl.conf;

    client_max_body_size 0;

    location / {
#        auth_basic "Restricted";
#        auth_basic_user_file /config/nginx/.htpasswd;
        resolver 127.0.0.11 valid=30s;
        set $upstream_portainer portainer;
        proxy_pass http://$upstream_portainer:9000;
        proxy_set_header Connection "";
        proxy_http_version 1.1;
    }
    
    location /api/websocket/ {
        resolver 127.0.0.11 valid=30s;
        set $upstream_portainer portainer;
        proxy_pass http://$upstream_portainer:9000;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_http_version 1.1;
    }
}
