# first go into radarr settings, under "General" set the URL Base to /radarr and restart the radarr container

location /radarr {
    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_radarr radarr;
    proxy_pass http://$upstream_radarr:7878;
}
