# first go into sonarr settings, under "General" set the URL Base to /sonarr and restart the sonarr container

location /sonarr {
    include /config/nginx/proxy.conf;
    resolver 127.0.0.11 valid=30s;
    set $upstream_sonarr sonarr;
    proxy_pass http://$upstream_sonarr:8989;
}
